body {
    background-image: url('https://64.media.tumblr.com/660e1bf2356436a781610bbda1a069bf/tumblr_of4a0oMfkv1vfoqtxo1_1280.gif') ;
    color: rgb(4, 39, 20);
    padding: 10px;
    font-family: arial;
    font-weight: bold;
    font-style: italic;
}
#all-contents {
  max-width: 1400px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(0, 155, 95);
   margin: 0 auto;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #00ff6a;
}

/* main container area beneath menu */
main {
    background: rgb(2, 189, 80);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 450px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px silver ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
