
body {
  background-color: rgb(81, 139, 81);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
}

#score, #highScore {
  color: rgb(241, 144, 144);
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(85, 52, 25);
  z-index: 2;
}

#snake-head {
  background-color: rgb(80, 37, 17);
}

.apple {
  background-color: rgb(150, 12, 12);
  z-index: 1;
}